@model ToDo

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="TaskName" class="control-label">Nom de la tâche </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            <label asp-for="Description" class="control-label">Description</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            <label asp-for="ReleaseDate" class="control-label">Date de début </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            <label asp-for="EndDate" class="control-label">Date de fin</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Retour</a>
</div>