@model IEnumerable<ToDo>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Créer nouvelle Tâche</a>
</p>

<div class="row">
        @foreach (var item in Model)
         {
               <div class="col-md-4">
                <h4>@(item.TaskName)</h4>
                <div> @(item.Description)</div>
                <div>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>

                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </div>
                </div>
        }
</div>
